HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/node_modules/
/hamstershort.tar
/src/main/resources/keystore.p12
/xxhamster.me_private_key.key
/xxhamster.me_ssl_certificate.cer
*.key
*.cer
/nginx/xxhamster.me_private_key.key_old
/nginx/xxhamster.me_ssl_certificate.cer_old
/nginx/xxhamster.me_ssl_certificate_CHAINED.cer_old
/nginx/xxhamster.me_ssl_certificate_INTERMEDIATE.cer_old
